
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @client.name %></h1>
    <p>
      La pelicula <strong><%= @tape.name %></strong> ya esta disponible para rentar
    </p>
  </body>
</html>